.s_modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .s_modal_content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 360px;
  }
  
  .s_input_container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
    .s_input {
    flex-grow: 1;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: not-allowed; /* readonly */
  }
  
.s_demand_button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
.s_demand_button:hover {
    background-color: #0056b3;
  }
  
.s_keypad_row {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  
 .s_num_button {
    flex: 1 1 0; /* Make all buttons equal width */
    margin: 5px;
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
  }
  
 .s_num_button:hover {
    background-color: #e9ecef;
  }
  
  .s_buttons_confirm {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
.s_button_cancel,
.s_button_confirm {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
.s_button_cancel:hover,
.s_button_confirm:hover {
    background-color: #e9ecef;
  }
  
.s_button_confirm {
    background-color: #28a745;
    color: white;
  }
  
.s_button_confirm:hover {
    background-color: #218838;
  }
  