
.move_line-items{
    height: 300px; /* Chiều cao tối đa để hiển thị */
    overflow-y: auto; /* Hiển thị thanh cuộn dọc nếu danh sách dài hơn chiều cao */
    overflow-x: hidden; /* Ẩn thanh cuộn ngang */
    border: 1px solid #ddd; /* Đường viền nhẹ xung quanh */
    border-radius: 5px; /* Bo góc */
    padding: 10px; /* Khoảng cách bên trong container */
    background-color: #f9f9f9; /* Màu nền nhạt */
}

.bg-yellow {
    background-color: rgb(253, 253, 140);
}

.bg-green {
    background-color: #7effb4;
    border: 1px solid #19AFF1;
}

.bg-red {
    background-color: #ec6c69;
}

.bg-white {
    background-color: #fff;
}