$color-background: #f0f0f0; // Màu ghi xám nhạt cho nền
$smartbiz-primary-color: #1E479F; // Màu xanh chủ đạo cho icon
$color-text: white; // Màu chữ
$color-nav-buttons: #021222; //

.s_wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh; // Sử dụng như một điểm khởi đầu
  // max-height: 100%; // Đảm bảo không vượt quá chiều cao của thẻ body

  @media (max-width: 600px) { // Hoặc sử dụng media query phù hợp với thiết bị di động
    height: 100%; // Trên mobile, sử dụng 100% có thể hoạt động tốt hơn
  }
}
.s_search-box{
  background-color: $color-background;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}
.s_search-input {
  flex: 1;
  padding: 8px 20px;
  font-size: 16px; /* Kích thước chữ phù hợp với thiết bị di động */
  border: none; /* Loại bỏ viền */
  outline: none; /* Loại bỏ đường viền khi focus */
  border-radius: 8px ;
}
.s_nav {
  background-color: $color-background;
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
}
.s_nav_left {
  display: flex;
  align-items: center; /* Đảm bảo các phần tử con trong `.left` và `.right` cũng được căn giữa theo chiều dọc */
}

.s_nav_right {
  display: flex;
  align-items: center;
  margin-left: auto; /* Đảm bảo .right luôn nằm ở bên phải nhất */
  margin-right: 5px; 
}
.s_nav_title{
  font-size: 16px; 
  font-weight:500;
}
.s_nav-link{
  background-color: transparent; // Nền trong suốt cho nút
  color: $color-nav-buttons; // Màu cho icon
  border: none; // Không viền
  padding: 0;
  margin: 0 5px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px; // Chiều rộng cố định cho nút chỉ có biểu tượng
  height: 30px; // Chiều cao cố định cho nút chỉ có biểu tượng
  
  i {
    font-size: 20px; // Kích thước biểu tượng
  }
}
.s_content-area {
  flex: 1;
  overflow-y: auto;
  background-color: #f8f9fa;

}
.s_footer {
  justify-content: space-around; // Chia đều các nút trên toàn bộ chiều ngang
  align-items: center;
  background-color: $color-background;
  padding: 10px 10px;
  display: flex;
  //position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;  /* Căn giữa các nút */
  box-shadow: 0 -2px 10px rgba(0,0,0,0.2);  /* Thêm bóng cho footer */
  
}
.s_footer_done
{
  background-color: #97df97;
  color: #1E479F;
}
/* CSS cho thông điệp khi hoàn thành */
.s_finished_message {
  color: $smartbiz-primary-color;
  font-size: 18px; /* kích thước font */
  font-weight: bold;
}
.s_primary-button {
  flex: 1 0 0%; // flex-grow, flex-shrink, và flex-basis
  margin: 0 5px; // Khoảng cách nhỏ giữa các nút
  background-color: $smartbiz-primary-color; // Màu nền giống với footer
  color: $color-text; // Màu chữ
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;  /* Bo tròn góc */
  transition: background-color 0.3s ease;  /* Hiệu ứng chuyển màu nền */
}
.s_primary-button:hover {
  background-color: #0056b3;  /* Thay đổi màu khi hover */
  cursor: pointer;  /* Hiển thị con trỏ là có thể click */
}
/* Responsive design: Điều chỉnh lại khi màn hình nhỏ hơn 768px */
@media (max-width: 768px) {
  .s_footer {
      padding: 10px 5px;
  }

  .s_primary-button {
      padding: 8px 10px;
      font-size: 14px;
  }
}

.s_detailMoveLine{
  padding:5px 0px;
  background-color: #ccc;
}
.s_element {
  display: flex;
  justify-content: space-between; /* Căn các phần tử con về hai bên */
  align-items: center; /* Căn giữa các phần tử con theo chiều dọc */
 
}
.s_left {
  display: flex;
  align-items: center; /* Đảm bảo các phần tử con trong `.left` và `.right` cũng được căn giữa theo chiều dọc */
}

.s_right {
  display: flex;
  align-items: center;
  margin-left: auto; /* Đảm bảo .right luôn nằm ở bên phải nhất */
  margin-right: 5px; 
}
.s_left i, .s_left span, .s_right button {
  margin: 0 5px; /* Tạo một khoảng cách nhỏ giữa các phần tử */
}
.s_detail-icon {
  background-color: transparent; // Nền trong suốt cho nút
  color: $color-nav-buttons; // Màu cho icon
  border: none; // Không viền
  padding: 0;
  margin-right:  5px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px; // Chiều rộng cố định cho nút chỉ có biểu tượng
  height: 30px; // Chiều cao cố định cho nút chỉ có biểu tượng
  
  i {
    font-size: 18px; // Kích thước biểu tượng
  }
}
.s_detail-button {
  padding: 0px 10px; /* Thêm padding để nút không quá dẹt hoặc quá cao */
  font-size: 16px; /* Đặt kích thước chữ phù hợp với kích thước của nút */
  color: white; /* Màu chữ */
  background-color: $smartbiz-primary-color; /* Màu nền của nút */
  border: none; /* Loại bỏ viền mặc định */
  border-radius: 3px; /* Làm tròn góc để nút nhìn mềm mại hơn */
  cursor: pointer; /* Hiển thị con trỏ như là một dấu hiệu có thể nhấp */
  transition: background-color 0.3s, transform 0.2s; /* Thêm hiệu ứng chuyển đổi khi hover và nhấn */
}


.s_focus {
  color: red; 
}

.s_move-line {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  border: 1px solid #ccc;
}

.s_move_line_left{
  overflow: auto;
}
.s_selectedItem {
  border: 2px solid #f10505;
}
.s_move_line_done {
  background-color: #97df97;
}
.s_move_line_scanned_package {
  background-color: #e0e487;
}
.s_move_done {
  background-color: #97df97;
}
.s_move_over_demand {
  background-color: #f08576;
}
.s_move_under_demand {
  background-color: #f1f38c;
}
.s_line-icon {
  background-color: transparent; // Nền trong suốt cho nút
  color: $color-nav-buttons; // Màu cho icon
  border: none; // Không viền
  padding: 0;
  margin-right:  5px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px; // Chiều rộng cố định cho nút chỉ có biểu tượng
  height: 30px; // Chiều cao cố định cho nút chỉ có biểu tượng
  
  i {
    font-size: 25px; // Kích thước biểu tượng
  }
}
.s_line-button {
  padding: 5px 10px; /* Thêm padding để nút không quá dẹt hoặc quá cao */
  font-size: 16px; /* Đặt kích thước chữ phù hợp với kích thước của nút */
  color: white; /* Màu chữ */
  background-color: $smartbiz-primary-color; /* Màu nền của nút */
  border: none; /* Loại bỏ viền mặc định */
  border-radius: 5px; /* Làm tròn góc để nút nhìn mềm mại hơn */
  cursor: pointer; /* Hiển thị con trỏ như là một dấu hiệu có thể nhấp */
  transition: background-color 0.3s, transform 0.2s; /* Thêm hiệu ứng chuyển đổi khi hover và nhấn */
}

.menu-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99;
}
.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background: #1E479F;
  color: white;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 100;
  transition: transform 0.3s ease;
}
.menu-header {
  display: flex;
  justify-content: flex-end;
}
.close-icon {
  cursor: pointer;
  font-size: 24px;
}
.menu-items {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}
.menu button {
  background: none;
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  font-family: Arial, sans-serif;
  text-align: left;
}
.menu button:hover {
  background: #555;
  font-family: Arial, sans-serif;
}





